{
  "openapi": "3.0.1",
  "info": {
    "title": "WORKFLOW_Builder_Forecast Insights API",
    "description": "The Forecast Insights API provides users with access to detailed forecasting data, enabling businesses to anticipate future trends and make informed decisions. This API allows consumers to retrieve forecasts based on historical data, seasonal patterns, and various influencing factors. Typical use cases include demand planning, inventory management, and sales strategy optimization. By leveraging this API, organizations can enhance predictive accuracy and develop data-driven strategies for growth.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://prod-workspace-qbjd.apiwiz.io",
      "description": "Builder",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Builder",
      "x-environmentName": "Builder",
      "x-hide": false,
      "x-environmentId": "6a8efc28b2b94e2db0ff8b7a",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/forecast": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Retrieve weather forecast data.",
        "description": "This endpoint allows you to fetch the latest weather forecast information for a specified location. It provides comprehensive weather data including temperature, humidity, wind speed, and other relevant metrics to help you stay informed about upcoming weather conditions.",
        "operationId": "getForecast",
        "parameters": [
          {
            "$ref": "#/components/parameters/hourly"
          },
          {
            "$ref": "#/components/parameters/current"
          },
          {
            "$ref": "#/components/parameters/latitude"
          },
          {
            "$ref": "#/components/parameters/longitude"
          },
          {
            "$ref": "#/components/parameters/x-tenant"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-application-type"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "responses": {
          "200": {
            "description": "The forecast data was retrieved successfully.",
            "headers": {
              "x-log-id": {
                "$ref": "#/components/headers/x-log-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetForecastResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetForecastResponse_200": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The latitude of the location.",
            "example": 52.52
          },
          "longitude": {
            "type": "number",
            "description": "The longitude of the location.",
            "example": 13.419998
          },
          "generationtime_ms": {
            "type": "number",
            "description": "The time taken to generate the response in milliseconds.",
            "example": 0.2658367156982422
          },
          "utc_offset_seconds": {
            "type": "integer",
            "description": "The UTC offset in seconds.",
            "format": "int32",
            "example": 0
          },
          "timezone": {
            "type": "string",
            "description": "The timezone of the location.",
            "example": "GMT"
          },
          "timezone_abbreviation": {
            "type": "string",
            "description": "The abbreviation for the timezone.",
            "example": "GMT"
          },
          "elevation": {
            "type": "number",
            "description": "The elevation of the location in meters.",
            "example": 38.0
          },
          "current_units": {
            "description": "Current weather data units.",
            "$ref": "#/components/schemas/CurrentUnits"
          },
          "current": {
            "description": "Current weather data.",
            "$ref": "#/components/schemas/CurrentWeather"
          },
          "hourly_units": {
            "description": "Hourly weather data units.",
            "$ref": "#/components/schemas/HourlyUnits"
          },
          "hourly": {
            "description": "Hourly weather data.",
            "$ref": "#/components/schemas/HourlyWeather"
          }
        },
        "description": "Response schema for the 200 status of the forecast GET operation, containing current and hourly weather data.",
        "example": {
          "latitude": 52.52,
          "longitude": 13.419998,
          "generationtime_ms": 0.2658367156982422,
          "utc_offset_seconds": 0,
          "timezone": "GMT",
          "timezone_abbreviation": "GMT",
          "elevation": 38.0,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "\u00b0C",
            "wind_speed_10m": "km/h"
          },
          "current": {
            "time": "2026-08-27T15:45",
            "interval": 900,
            "temperature_2m": 27.1,
            "wind_speed_10m": 15.8
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "\u00b0C",
            "relative_humidity_2m": "%",
            "wind_speed_10m": "km/h"
          },
          "hourly": {
            "time": [
              "2026-08-27T00:00",
              "2026-08-27T01:00",
              "2026-08-27T02:00",
              "2026-08-27T03:00",
              "2026-08-27T04:00",
              "2026-08-27T05:00",
              "2026-08-27T06:00",
              "2026-08-27T07:00",
              "2026-08-27T08:00",
              "2026-08-27T09:00",
              "2026-08-27T10:00",
              "2026-08-27T11:00",
              "2026-08-27T12:00",
              "2026-08-27T13:00",
              "2026-08-27T14:00",
              "2026-08-27T15:00",
              "2026-08-27T16:00",
              "2026-08-27T17:00",
              "2026-08-27T18:00",
              "2026-08-27T19:00",
              "2026-08-27T20:00",
              "2026-08-27T21:00",
              "2026-08-27T22:00",
              "2026-08-27T23:00",
              "2026-08-28T00:00",
              "2026-08-28T01:00",
              "2026-08-28T02:00",
              "2026-08-28T03:00",
              "2026-08-28T04:00",
              "2026-08-28T05:00",
              "2026-08-28T06:00",
              "2026-08-28T07:00",
              "2026-08-28T08:00",
              "2026-08-28T09:00",
              "2026-08-28T10:00",
              "2026-08-28T11:00",
              "2026-08-28T12:00",
              "2026-08-28T13:00",
              "2026-08-28T14:00",
              "2026-08-28T15:00",
              "2026-08-28T16:00",
              "2026-08-28T17:00",
              "2026-08-28T18:00",
              "2026-08-28T19:00",
              "2026-08-28T20:00",
              "2026-08-28T21:00",
              "2026-08-28T22:00",
              "2026-08-28T23:00",
              "2026-08-29T00:00",
              "2026-08-29T01:00",
              "2026-08-29T02:00",
              "2026-08-29T03:00",
              "2026-08-29T04:00",
              "2026-08-29T05:00",
              "2026-08-29T06:00",
              "2026-08-29T07:00",
              "2026-08-29T08:00",
              "2026-08-29T09:00",
              "2026-08-29T10:00",
              "2026-08-29T11:00",
              "2026-08-29T12:00",
              "2026-08-29T13:00",
              "2026-08-29T14:00",
              "2026-08-29T15:00",
              "2026-08-29T16:00",
              "2026-08-29T17:00",
              "2026-08-29T18:00",
              "2026-08-29T19:00",
              "2026-08-29T20:00",
              "2026-08-29T21:00",
              "2026-08-29T22:00",
              "2026-08-29T23:00",
              "2026-08-30T00:00",
              "2026-08-30T01:00",
              "2026-08-30T02:00",
              "2026-08-30T03:00",
              "2026-08-30T04:00",
              "2026-08-30T05:00",
              "2026-08-30T06:00",
              "2026-08-30T07:00",
              "2026-08-30T08:00",
              "2026-08-30T09:00",
              "2026-08-30T10:00",
              "2026-08-30T11:00",
              "2026-08-30T12:00",
              "2026-08-30T13:00",
              "2026-08-30T14:00",
              "2026-08-30T15:00",
              "2026-08-30T16:00",
              "2026-08-30T17:00",
              "2026-08-30T18:00",
              "2026-08-30T19:00",
              "2026-08-30T20:00",
              "2026-08-30T21:00",
              "2026-08-30T22:00",
              "2026-08-30T23:00",
              "2026-08-31T00:00",
              "2026-08-31T01:00",
              "2026-08-31T02:00",
              "2026-08-31T03:00",
              "2026-08-31T04:00",
              "2026-08-31T05:00",
              "2026-08-31T06:00",
              "2026-08-31T07:00",
              "2026-08-31T08:00",
              "2026-08-31T09:00",
              "2026-08-31T10:00",
              "2026-08-31T11:00",
              "2026-08-31T12:00",
              "2026-08-31T13:00",
              "2026-08-31T14:00",
              "2026-08-31T15:00",
              "2026-08-31T16:00",
              "2026-08-31T17:00",
              "2026-08-31T18:00",
              "2026-08-31T19:00",
              "2026-08-31T20:00",
              "2026-08-31T21:00",
              "2026-08-31T22:00",
              "2026-08-31T23:00",
              "2026-09-01T00:00",
              "2026-09-01T01:00",
              "2026-09-01T02:00",
              "2026-09-01T03:00",
              "2026-09-01T04:00",
              "2026-09-01T05:00",
              "2026-09-01T06:00",
              "2026-09-01T07:00",
              "2026-09-01T08:00",
              "2026-09-01T09:00",
              "2026-09-01T10:00",
              "2026-09-01T11:00",
              "2026-09-01T12:00",
              "2026-09-01T13:00",
              "2026-09-01T14:00",
              "2026-09-01T15:00",
              "2026-09-01T16:00",
              "2026-09-01T17:00",
              "2026-09-01T18:00",
              "2026-09-01T19:00",
              "2026-09-01T20:00",
              "2026-09-01T21:00",
              "2026-09-01T22:00",
              "2026-09-01T23:00",
              "2026-09-02T00:00",
              "2026-09-02T01:00",
              "2026-09-02T02:00",
              "2026-09-02T03:00",
              "2026-09-02T04:00",
              "2026-09-02T05:00",
              "2026-09-02T06:00",
              "2026-09-02T07:00",
              "2026-09-02T08:00",
              "2026-09-02T09:00",
              "2026-09-02T10:00",
              "2026-09-02T11:00",
              "2026-09-02T12:00",
              "2026-09-02T13:00",
              "2026-09-02T14:00",
              "2026-09-02T15:00",
              "2026-09-02T16:00",
              "2026-09-02T17:00",
              "2026-09-02T18:00",
              "2026-09-02T19:00",
              "2026-09-02T20:00",
              "2026-09-02T21:00",
              "2026-09-02T22:00",
              "2026-09-02T23:00"
            ],
            "temperature_2m": [
              17.3,
              16.6,
              16.0,
              15.6,
              15.0,
              14.6,
              15.2,
              16.5,
              18.6,
              21.5,
              23.4,
              25.1,
              26.4,
              26.9,
              27.2,
              27.3,
              27.0,
              26.0,
              24.9,
              23.5,
              22.3,
              21.2,
              20.6,
              20.1,
              19.6,
              19.2,
              18.8,
              18.6,
              18.4,
              18.4,
              18.6,
              19.4,
              20.4,
              21.8,
              22.9,
              24.3,
              25.3,
              23.4,
              21.9,
              22.3,
              22.8,
              23.0,
              22.7,
              22.1,
              21.6,
              21.2,
              20.5,
              20.0,
              19.4,
              18.8,
              18.4,
              18.0,
              17.6,
              17.3,
              17.5,
              18.5,
              19.9,
              21.5,
              22.9,
              24.2,
              25.0,
              25.1,
              25.2,
              24.8,
              21.3,
              20.2,
              20.2,
              19.9,
              19.0,
              18.8,
              18.4,
              18.2,
              18.1,
              18.0,
              18.1,
              17.9,
              17.3,
              17.3,
              18.0,
              17.1,
              18.3,
              21.2,
              22.9,
              23.5,
              24.2,
              24.5,
              24.5,
              24.4,
              24.1,
              23.7,
              23.1,
              22.3,
              21.3,
              20.4,
              19.7,
              19.1,
              18.6,
              18.3,
              18.1,
              18.0,
              17.7,
              17.4,
              17.7,
              19.1,
              21.1,
              22.8,
              23.9,
              24.7,
              25.2,
              25.3,
              25.0,
              24.4,
              23.3,
              21.9,
              20.7,
              19.8,
              19.0,
              18.3,
              17.7,
              17.1,
              16.6,
              16.1,
              15.6,
              15.4,
              15.8,
              16.4,
              16.8,
              16.5,
              18.6,
              20.4,
              21.5,
              22.3,
              22.9,
              23.4,
              23.7,
              23.7,
              23.2,
              22.4,
              21.5,
              20.5,
              19.4,
              18.4,
              17.5,
              16.8,
              16.2,
              15.7,
              15.3,
              15.1,
              14.8,
              14.6,
              15.3,
              17.4,
              20.3,
              22.6,
              23.9,
              24.6,
              25.1,
              25.6,
              25.8,
              25.7,
              25.2,
              24.3,
              23.2,
              22.0,
              20.7,
              19.6,
              18.8,
              18.1
            ],
            "relative_humidity_2m": [
              63,
              64,
              68,
              69,
              74,
              76,
              73,
              68,
              62,
              51,
              46,
              38,
              34,
              34,
              35,
              34,
              36,
              39,
              40,
              45,
              45,
              49,
              52,
              54,
              54,
              55,
              56,
              57,
              57,
              57,
              57,
              55,
              55,
              53,
              54,
              53,
              54,
              72,
              84,
              83,
              81,
              82,
              81,
              83,
              84,
              83,
              88,
              85,
              75,
              74,
              75,
              77,
              80,
              81,
              79,
              74,
              62,
              53,
              46,
              41,
              36,
              37,
              39,
              38,
              58,
              63,
              62,
              63,
              67,
              66,
              67,
              68,
              69,
              70,
              69,
              71,
              76,
              76,
              72,
              84,
              78,
              66,
              57,
              56,
              51,
              49,
              49,
              49,
              50,
              51,
              53,
              57,
              62,
              66,
              68,
              68,
              68,
              68,
              68,
              68,
              70,
              72,
              72,
              68,
              61,
              55,
              51,
              47,
              45,
              45,
              46,
              48,
              50,
              53,
              56,
              59,
              63,
              66,
              68,
              70,
              72,
              74,
              76,
              77,
              75,
              72,
              70,
              59,
              53,
              48,
              44,
              40,
              38,
              37,
              36,
              37,
              39,
              41,
              44,
              48,
              53,
              57,
              60,
              63,
              65,
              67,
              68,
              69,
              71,
              73,
              71,
              64,
              53,
              44,
              39,
              36,
              34,
              33,
              34,
              35,
              37,
              39,
              43,
              49,
              55,
              61,
              65,
              69
            ],
            "wind_speed_10m": [
              11.2,
              11.9,
              11.5,
              12.2,
              13.0,
              11.6,
              10.8,
              11.5,
              11.6,
              12.0,
              14.1,
              16.3,
              16.7,
              16.5,
              16.2,
              16.1,
              15.7,
              16.7,
              15.8,
              15.6,
              14.3,
              14.0,
              13.9,
              13.4,
              13.9,
              11.9,
              15.4,
              14.1,
              13.9,
              11.6,
              11.3,
              13.9,
              9.3,
              12.4,
              13.0,
              13.8,
              12.4,
              14.0,
              12.0,
              8.1,
              10.5,
              9.4,
              8.3,
              7.8,
              7.3,
              8.5,
              8.2,
              8.5,
              9.5,
              10.9,
              9.1,
              8.3,
              8.1,
              6.5,
              6.8,
              8.3,
              10.5,
              11.4,
              13.6,
              13.8,
              14.3,
              14.4,
              14.0,
              13.2,
              14.8,
              8.4,
              7.4,
              5.2,
              5.4,
              6.1,
              6.5,
              6.8,
              7.0,
              7.2,
              8.8,
              10.3,
              8.0,
              8.3,
              9.7,
              9.5,
              8.7,
              12.8,
              17.3,
              15.5,
              16.1,
              15.1,
              13.4,
              11.4,
              9.0,
              6.8,
              5.4,
              4.7,
              4.1,
              3.6,
              3.6,
              4.0,
              4.3,
              5.5,
              7.3,
              8.7,
              9.5,
              10.0,
              10.6,
              11.3,
              12.5,
              13.8,
              14.8,
              15.8,
              16.3,
              16.0,
              15.5,
              14.5,
              12.7,
              10.7,
              9.4,
              9.5,
              10.3,
              10.8,
              10.5,
              10.0,
              9.7,
              9.7,
              10.0,
              10.2,
              11.3,
              12.5,
              13.7,
              9.1,
              10.9,
              12.1,
              13.0,
              13.3,
              13.6,
              13.1,
              12.6,
              11.0,
              8.7,
              5.4,
              3.7,
              3.1,
              2.3,
              2.0,
              2.1,
              2.3,
              2.5,
              2.2,
              1.8,
              1.1,
              0.5,
              1.1,
              2.3,
              4.0,
              5.8,
              7.4,
              8.0,
              8.7,
              9.4,
              10.0,
              10.8,
              10.2,
              8.4,
              6.0,
              4.3,
              1.9,
              2.1,
              4.1,
              4.1,
              5.4
            ]
          }
        }
      },
      "CurrentUnits": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "description": "The time of the current weather report.",
            "example": "string"
          },
          "interval": {
            "type": "string",
            "description": "The time interval for the current weather data.",
            "example": "string"
          },
          "temperature_2m": {
            "type": "string",
            "description": "The unit of temperature at 2 meters above ground.",
            "example": "string"
          },
          "wind_speed_10m": {
            "type": "string",
            "description": "The unit of wind speed at 10 meters above ground.",
            "example": "string"
          }
        },
        "description": "Units for current weather data."
      },
      "CurrentWeather": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "description": "The time of the current weather report.",
            "example": "string"
          },
          "interval": {
            "type": "integer",
            "description": "The time interval for the current weather data.",
            "format": "int32",
            "example": 0
          },
          "temperature_2m": {
            "type": "number",
            "description": "The current temperature at 2 meters above ground.",
            "example": 0.0
          },
          "wind_speed_10m": {
            "type": "number",
            "description": "The current wind speed at 10 meters above ground.",
            "example": 0.0
          }
        },
        "description": "Current weather report."
      },
      "HourlyUnits": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "description": "The time of the hourly weather report.",
            "example": "string"
          },
          "temperature_2m": {
            "type": "string",
            "description": "The unit of temperature at 2 meters above ground.",
            "example": "string"
          },
          "relative_humidity_2m": {
            "type": "string",
            "description": "The unit of relative humidity at 2 meters above ground.",
            "example": "string"
          },
          "wind_speed_10m": {
            "type": "string",
            "description": "The unit of wind speed at 10 meters above ground.",
            "example": "string"
          }
        },
        "description": "Units for hourly weather data."
      },
      "HourlyWeather": {
        "type": "object",
        "properties": {
          "time": {
            "type": "array",
            "description": "An array of times for each hourly weather report.",
            "example": [
              "2023-01-01T00:00:00Z",
              "2023-01-01T01:00:00Z"
            ],
            "items": {
              "type": "string"
            }
          },
          "temperature_2m": {
            "type": "array",
            "description": "An array of temperatures at 2 meters above ground for each hour.",
            "example": [
              0.0,
              1.0,
              2.0
            ],
            "items": {
              "type": "number"
            }
          },
          "relative_humidity_2m": {
            "type": "array",
            "description": "An array of relative humidity percentages at 2 meters above ground for each hour.",
            "example": [
              50,
              52,
              54
            ],
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "wind_speed_10m": {
            "type": "array",
            "description": "An array of wind speeds at 10 meters above ground for each hour.",
            "example": [
              0.0,
              1.0,
              2.0
            ],
            "items": {
              "type": "number"
            }
          }
        },
        "description": "Hourly weather report."
      }
    },
    "parameters": {
      "hourly": {
        "name": "hourly",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "temperature_2m,relative_humidity_2m,wind_speed_10m"
        },
        "example": "temperature_2m,relative_humidity_2m,wind_speed_10m"
      },
      "current": {
        "name": "current",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "temperature_2m,wind_speed_10m"
        },
        "example": "temperature_2m,wind_speed_10m"
      },
      "latitude": {
        "name": "latitude",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "52.52"
        },
        "example": "52.52"
      },
      "longitude": {
        "name": "longitude",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "example": "13.41"
        },
        "example": "13.41"
      },
      "x-tenant": {
        "name": "x-tenant",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prod-workspace"
        },
        "example": "prod-workspace"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d6eef149-caa8-4ea0-8264-7cbfe81da047"
        },
        "example": "d6eef149-caa8-4ea0-8264-7cbfe81da047"
      },
      "x-application-type": {
        "name": "x-application-type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder"
        },
        "example": "apibuilder"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "34.217.218.221"
        },
        "example": "34.217.218.221"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
        },
        "example": "apibuilder-agent.apiwiz-system.svc.cluster.local:8000/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "WORKFLOW_Builder_200"
          ]
        }
      }
    },
    "headers": {
      "x-log-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for tracking the log of the request.",
          "example": "6a905d4d8ce838604c60f838"
        },
        "example": "6a905d4d8ce838604c60f838"
      }
    }
  }
}